@font-face {
    font-family: 'calculatorregular';
    src: url('../fonts/calculator-webfont.woff2') format('woff2'),
         url('../fonts/calculator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.tapete{
    background-color: #027202;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 90vw;
    height: 1400px;
    position: relative;
}

.credito_jugador{
    position: absolute;
    top: 25px;
    left: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}
div.credito_jugador div#credito_jugador_texto{
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    background-color: black;
    padding: 1px;
    margin: 0;
}

div.credito_jugador div#credito_jugador_texto p{
    margin: 0;
    padding: 0;
}

div.credito_jugador div#credito_jugador_valor p#credito_jugador_value{
    font-size: 20px;
    color: #fff;
    font-family:'calculatorregular';
    background-color: black;
    text-align: center;
    width: 100px;
    padding: 1px;
}

div.credito_jugador div#credito_jugador_valor p{
    margin: 0;
    padding: 0;
}

.carta{
    position: absolute;
    left: 15px;
    top: 15px;
}
.carta img{
    width: 60%;
    height: 60%;
}
#carta1{
    top: 27px;
}
#carta2{
    top: 23px;
}


.salir{
    position: absolute;
    right: 30px;
    top: 25px;
    font-family: sans-serif;
    font-size: 18px;
    padding: .55em;
    border-radius: 10px;
    cursor: pointer;
}

.nueva_partida{
    position: absolute;
    right: 30px;
    top: 100px;
    font-family: sans-serif;
    font-size: 18px;
    padding: .55em;
    border-radius: 10px;
    cursor: pointer;
}

.nueva_apuesta {
    font-family: sans-serif;
    font-size: 18px;
    padding: .55em;
    border-radius: 10px;
    cursor: pointer;
}

.pedir_carta{
    position: absolute;
    right: 38px;
    top: 200px;
    font-family: sans-serif;
    font-size: 18px;
    padding: .55em;
    border-radius: 10px;
    cursor: pointer;
    
}
#reiniciar {
    font-family: sans-serif;
    font-size: 18px;
    padding: .55em;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1em;
}
.plantarse{
    position: absolute;
    right: 48px;
    top: 250px;
    font-family: sans-serif;
    font-size: 18px;
    padding: .55em;
    border-radius: 10px;
    cursor: pointer;
    
}

.disabled {
    cursor: not-allowed;
}

.mostrar_boton {
    display: block;
}

/*----------------------------- CUADROS DE SUMATORIOS DE CARTAS -----------------------------------*/

.puntuacion_jugador {
    top: 750px;
    left: 70px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75px;
    height: 100px;
    border: dotted 2px black;
}

#puntuacion_jugador_value{
    font-size: 70px;
    color: gold;
    font-family:'calculatorregular';
    text-align: center;
}

.puntuacion_banca {
    top: 100px;
    left: 1100px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75px;
    height: 100px;
    border: dotted 2px black;
}

#puntuacion_banca_value{
    font-size: 70px;
    color: gold;
    font-family:'calculatorregular';
    text-align: center;
}

/*---------------------------------------------------------------------------------------------------*/

/*----------------------------------------- CARTEL GAME OVER ----------------------------------------*/

div.game_over{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.game_over_texto {
    font-family: sans-serif;
    font-size: 80px;
    color: rgb(218, 0, 0);
    text-align: center;
    padding: 0;
    margin: 0;
}

div.mostrar_gameOver {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}
/*---------------------------------------------------------------------------------------------------*/

/*------------------------------------- CARTEL VICTORIA ---------------------------------------------*/

div.victoria{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.victoria_texto {
    font-family: sans-serif;
    font-size: 80px;
    color: rgb(218, 0, 0);
    text-align: center;
    padding: 0;
    margin: 0;
}

div.mostrar_victoria {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

/*---------------------------------------------------------------------------------------------------*/

/*--------------------------------------- CARTEL BLACKJACK ------------------------------------------*/


div.blackJack{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.blackJack_texto {
    font-family: sans-serif;
    font-size: 80px;
    color: rgb(218, 0, 0);
    text-align: center;
    padding: 0;
    margin: 0;
}

div.mostrar_blackJack {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

/*---------------------------------------------------------------------------------------------------*/

/*----------------------------------------- CARTEL EMPATE -------------------------------------------*/

div.empate{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.empate_texto {
    font-family: sans-serif;
    font-size: 80px;
    color: rgb(218, 0, 0);
    text-align: center;
    padding: 0;
    margin: 0;
}

div.mostrar_empate {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

/*---------------------------------------------------------------------------------------------------*/

/*------------------------------  ANIMACIONES APARICIÓN DE CARTELES ---------------------------------*/

@keyframes fadeIn {
    from {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 100;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 100;
    }
}

/*---------------------------------------------------------------------------------------------------*/

/*------------------------------------ ANIMACIONES BARAJADO -----------------------------------------*/

.barajar1{
    animation-name: barajar1;
    animation-duration: 0.5s;
}

.barajar2{
    animation-name: barajar2;
    animation-duration: 0.5s;
}

@keyframes barajar1 {
    from {left: 15px;}
    to {transform: translateX(220px);}
  }

@keyframes barajar2 {
    from {left: 220px;}
    to {transform: translateX(0px);}
  }

/*---------------------------------------------------------------------------------------------------*/

/*-------------------------------- COLOCACIÓN DE CARTAS (posiciones) --------------------------------*/

.carta_reparto1  {
    top: 675px;
    left: 215px;
}
.carta_reparto2 {
    top: 675px;
    left: 415px;
} 
.carta_reparto3 {
    top: 675px;
    left: 615px;
}
.carta_reparto4 {
    top: 675px;
    left: 815px;
}
.carta_reparto5 {
    top: 100px;
    left: 300px;
}
.carta_reparto6 {
    top: 100px;
    left: 500px;
}
.carta_reparto7 {
    top: 100px;
    left: 700px;
}
div.carta_reparto8 {
    top: 100px;
    left: 900px;
}

/*-------------------------------- FIN COLOCACIÓN DE CARTAS (posiciones) --------------------------------*/

/*--------------------------------------- ANIMACIONES REPARTO -------------------------------------------*/ 
.repartir1{
    animation-name: repartir1;
    animation-duration: 0.5s;
}

.repartir2{
    animation-name: repartir2;
    animation-duration: 0.5s;
}

.repartir3{
    animation-name: repartir3;
    animation-duration: 0.5s;
}
.repartir4{
    animation-name: repartir4;
    animation-duration: 0.5s;
}
.repartir5{
    animation-name: repartir5;
    animation-duration: 0.475s;
}
.repartir6{
    animation-name: repartir6;
    animation-duration: 0.475s;
}
.repartir7{
    animation-name: repartir7;
    animation-duration: 0.5s;
}
.repartir8{
    animation-name: repartir8;
    animation-duration: 0.5s;
}
.voltear_carta1{
    animation-name: voltearCarta1;
    animation-duration: 0.500s;
}
.voltear_carta1-2{
    animation-name: voltearCarta1-2;
    animation-duration: 0.500s;
}

@keyframes repartir1 {
    from {left: 15px;}
    to {transform:translate(200px, 675px);}
}
  
@keyframes repartir2 {
    from {left: 15px;}
    to {transform:translate(400px, 675px);}
}
@keyframes repartir3 {
    from {left: 15px;}
    to {transform:translate(600px, 675px);}
}

@keyframes repartir4 {
    from {left: 15px;}
    to {transform:translate(800px, 675px);}
}

@keyframes repartir5 {
    from {left: 15px;}
    to {transform:translate(300px, 100px);}
}

@keyframes repartir6 {
    from {left: 15px; top:15px;}
    to {transform:translate(500px, 100px);}
}
@keyframes repartir7 {
    from {left: 15px;}
    to {transform:translate(700px, 100px);}
}
@keyframes repartir8 {
    from {left: 15px;}
    to {transform:translate(900px, 100px);}
}

@keyframes voltearCarta1 {
    from { transform: scaleX(1); -o-transform: scaleX(1);}
    to { transform: scaleX(0); -o-transform: scaleX(0);}
}

@keyframes voltearCarta1-2 {
    from { transform: scaleX(0) ;-o-transform: scaleX(0);}
    to { transform: scaleX(1);  -o-transform: scaleX(1);}
}

/*-----------------------------------------------------------------------------------------------------*/ 